{% extends "layout.html" %}


{% block pageTitle %}
  Check your answers - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/does-the-project-have-partners-or-participants-outside-the-uk"
}) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <!-- Contact details -->
      <h2 class="govuk-heading-m">Contact details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data["full-name"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/who-should-we-contact-about-the-grant-award",
                  text: "Change",
                  visuallyHiddenText: "full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: data["job-title"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/who-should-we-contact-about-the-grant-award",
                  text: "Change",
                  visuallyHiddenText: "job title"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data["email-address"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/who-should-we-contact-about-the-grant-award",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data["telephone-number"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/who-should-we-contact-about-the-grant-award",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- Organisation -->
      <h2 class="govuk-heading-m">Organisation</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Type"
            },
            value: {
              text: data["organisation-type"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/organisation-type",
                  text: "Change",
                  visuallyHiddenText: "organisation type"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data["organisation-name"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/organisation-details",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html:
                data["address-line-1"] + "<br>" + data["address-town"] + "<br>" + data["address-county"] + "<br>" + data["address-postcode"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/organisation-details",
                  text: "Change",
                  visuallyHiddenText: "organisation address"
                }
              ]
            }
          },
          {
            key: {
              text: "Company or charity registration number"
            },
            value: {
              text: data["companies-house-number"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/do-you-have-a-company-or-charity-registration-number",
                  text: "Change",
                  visuallyHiddenText: "Company or charity registration number"
                }
              ]
            }
          }
        ]
      }) }}

      <!-- Project -->
      <h2 class="govuk-heading-m">Project</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Grant agreement number"
            },
            value: {
              text: data["grant-agreement-number"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/do-you-have-a-grant-agreement-number",
                  text: "Change",
                  visuallyHiddenText: "grant agreement number"
                }
              ]
            }
          },
          {
            key: {
              text: "Programme"
            },
            value: {
              text: data["name-of-programme"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/what-programme-do-you-receive-funding-from",
                  text: "Change",
                  visuallyHiddenText: "name of programme"
                }
              ]
            }
          },
          {
            key: {
              text: "Project name"
            },
            value: {
              html: data["project-name"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/project-details",
                  text: "Change",
                  visuallyHiddenText: "project name"
                }
              ]
            }
          },
          {
            key: {
              text: "Total amount awarded"
            },
            value: {
              html: data["total-amount-awarded"] + " euros"
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/project-details",
                  text: "Change",
                  visuallyHiddenText: "total amount awarded"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: (data["start-date-year"] + "-" + data["start-date-month"] + "-" + data["start-date-day"]) | govDate
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/project-details",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "End date"
            },
            value: {
              text: (data["end-date-year"] + "-" + data["end-date-month"] + "-" + data["end-date-day"]) | govDate
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/project-details",
                  text: "Change",
                  visuallyHiddenText: "end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Non UK partners"
            },
            value: {
              text: data["does-the-project-have-partners-or-participants-outside-the-uk"]
            },
            actions: {
              items: [
                {
                  classes: "govuk-link govuk-link--no-visited-state",
                  href: "/v1/does-the-project-have-partners-or-participants-outside-the-uk",
                  text: "Change",
                  visuallyHiddenText: "non UK partners"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/v1/confirmation">

        {{ govukTextarea({
          name: "additional-information",
          id: "additional-information",
          classes: "govuk-label--s",
          label: {
            text: "Add a note (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter any information you think we need to know"
          },
          value: data["additional-information"]
        }) }}

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm and send"
        }) }}

        {{ govukInsetText({
          classes: "govuk-!-margin-top-0",
          html: 'The information you’ve given will be shared with the government departments responsible for the EU programme you receive funding or will receive funding from. Find out <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/government/publications/privacy-notice-for-grants-management-function-recipient-registration/privacy-notice-for-grants-management-function-recipient-registration">how we use your personal data</a>.'
        }) }}

      </form>

    </div>

  </div>
{% endblock %}
