{% extends "layout.html" %}


{% block pageTitle %}
  Registration complete - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/check-your-answers"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Registration complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We’ve sent your details to the government department responsible for the fund you’ve said you receive.</p>

      <p>Because: Information from the submitted form will go directly to the dept looking after that EU funding not Cabinet Office.</p>

      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>

  </div>

{% endblock %}
