{% extends "layout.html" %}


{% block pageTitle %}
  Registration complete - GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Registration complete",
        html: "Your reference number<br><strong>00000000</strong>"
      }) }}

      <p>We have sent a confirmation email to the address you gave.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We will send your details to the government department responsible for the fund you’ve said you receive.</p>

      <p>They will contact you either to confirm your registration, or to ask for more information.</p>

      <p><a class="govuk-link govuk-link--no-visited-state" href="#">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>

  </div>

{% endblock %}
