{% extends "layout.html" %}


{% block pageTitle %}
  Do you have a grant agreement number? - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/do-you-have-a-companies-house-or-charity-commission-number"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Do you have a grant agreement number?</h1>

    <p>It might be called a project ID, proposal ID or action number.</p>

    <form method="post" action="{{ formAction }}">

      {% set grantAgreementNumber %}
        {{ govukInput({
          id: "grant-agreement-number",
          name: "grant-agreement-number",
          label: {
            text: "Enter your grant agreement number"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["grant-agreement-number"]
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "do-you-have-a-grant-agreement-number",
        name: "do-you-have-a-grant-agreement-number",
        items: [
          {
            value: "Yes",
            html: 'Yes<span class="govuk-visually-hidden">, we have a grant agreement number</span>',
            conditional: {
              html: grantAgreementNumber
            },
            checked: checked("do-you-have-a-grant-agreement-number", "Yes")
          },
          {
            value: "No",
            html: 'No<span class="govuk-visually-hidden">, we don’t have a grant agreement number</span>',
            checked: checked("do-you-have-a-grant-agreement-number", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>

</div>

{% endblock %}
