{% extends "layout.html" %}


{% block pageTitle %}
  Funding details - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/organisation-details"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Funding details</h1>

    <form method="post">

      <!-- Grant agreement number -->
      {{ govukInput({
        label: {
          text: "Grant agreement number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "This should be found at the top of your grant agreement."
        },
        id: "grant-agreement-number",
        name: "grant-agreement-number",
        value: data['grant-agreement-number']
      }) }}


      <!-- Name of scheme -->
      {{ govukRadios({
        idPrefix: "name-of-scheme",
        name: "name-of-scheme",
        fieldset: {
          legend: {
            text: "Name of scheme",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Select the funding scheme you applied for."
        },
        items: [
          {
            value: "",
            text: "Europe for Citizens",
            checked: checked('name-of-scheme', 'Europe for Citizens')
          },
          {
            value: "Connecting Europe Facility, Telecoms (CEF)",
            text: "Connecting Europe Facility, Telecoms (CEF)",
            checked: checked('name-of-scheme', 'Connecting Europe Facility, Telecoms (CEF)')
          },
          {
            value: "Creative Europe",
            text: "Creative Europe",
            checked: checked('name-of-scheme', 'Creative Europe')
          },
          {
            value: "Health for Growth",
            text: "Health for Growth",
            checked: checked('name-of-scheme', 'Health for Growth')
          },
          {
            value: "Employment and Social Innovation (EaSI)",
            text: "Employment and Social Innovation (EaSI)",
            checked: checked('name-of-scheme', 'Employment and Social Innovation (EaSI)')
          },
          {
            value: "RECP",
            text: "RECP",
            checked: checked('name-of-scheme', 'RECP')
          },
          {
            value: "Erasmus+",
            text: "Erasmus+",
            checked: checked('name-of-scheme', 'Erasmus+')
          },
          {
            value: "European Solidarity Corps",
            text: "European Solidarity Corps",
            checked: checked('name-of-scheme', 'European Solidarity Corps')
          },
          {
            value: "Competitiveness of Small and Medium-Sized Enterprises (COSME)",
            text: "Competitiveness of Small and Medium-Sized Enterprises (COSME)",
            checked: checked('name-of-scheme', 'Competitiveness of Small and Medium-Sized Enterprises (COSME)')
          }
        ]
      }) }}


      <!-- Project name -->
      {{ govukInput({
        label: {
          text: "Project name",
          classes: "govuk-label--s"
        },
        hint: {
          text: "The name of your project as used in your proposal and stated on the individual grant agreement / bid."
        },
        id: "project-name",
        name: "project-name",
        value: data['project-name']
      }) }}


      <!-- EU funding contribution -->
      {{ govukInput({
        label: {
          text: "EU funding contribution for above project (€):",
          classes: "govuk-label--s"
        },
        hint: {
          text: "The total amount in euros granted to your organisation at the point of the award for your project."
        },
        id: "funding-contribution",
        name: "funding-contribution",
        value: data['funding-contribution']
      }) }}


      <!-- Project start date -->
      {{ govukDateInput({
        id: "project-start-date",
        namePrefix: "project-start-date",
        fieldset: {
          legend: {
            text: "Project start date",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 22 10 2019"
        }
      }) }}


      <!-- Project end date -->
      {{ govukDateInput({
        id: "project-end-date",
        namePrefix: "project-end-date",
        fieldset: {
          legend: {
            text: "Project end date",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 22 10 2019"
        }
      }) }}


      <!-- Submit -->
      {{ govukButton({
        text: "Next"
      }) }}


    </form>

  </div>

</div>

{% endblock %}
