{% extends "layout.html" %}


{% block pageTitle %}
  Register as an organisation which gets funding directly from the EU - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "https://www.gov.uk"
      },
      {
        text: "Funding programmes",
        href: "https://www.gov.uk/topic/government/government-funding-programmes"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Register as an organisation which gets funding directly from the EU</h1>

      <p class="govuk-body">You should register if you receive or have applied for funding from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Civil Protection Mechanism</li>
        <li>Competitiveness of Small and Medium-Sized Enterprises (COSME)</li>
        <li>Connecting Europe Facility (CEF) telecoms</li>
        <li>Creative Europe</li>
        <li>Employment and Social Innovation (EaSI)</li>
        <li>Erasmus+</li>
        <li>Europe for Citizens</li>
        <li>European Solidarity Corps</li>
        <li>Health for Growth</li>
        <li>Rights, Equality, and Citizenship Programme (RECP)</li>
      </ul>

      <p>Do not register if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you receive or have applied for funding from a different EU programme, such as Horizon 2020 - <a href="https://www.gov.uk/guidance/european-and-domestic-funding-after-brexit">check what you need to do instead</a></li>
        <li>you’re already in contact with a government department about what will happen to your funding after Brexit</li>
        <li>your project will have finished before Brexit but the final payment will come after Brexit - <a href="mailto: helpdesk.grants.registration@cabinetoffice.gov.uk">contact the helpdesk</a> if you’re told that you will not receive the final payment</li>
      </ul>

      <p class="govuk-body">Registering takes around 10 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "/v1/who-should-we-contact-about-the-grant-award",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>To register you need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your Companies House or Charity Commission number, if you have one</li>
        <li>details from your grant agreement, if you have one</li>
      </ul>

      <p>If you do not have a grant agreement, fill in as much information as you can.</p>
      <p>You’ll need to register again if you receive funding from more than one programme.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <!--li><a href="/v1/recipient-registration-faq">Frequently Asked Questions</a></li-->
            <li><a href="https://www.gov.uk/government/publications/european-union-funding">European Union funding</a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
