{% extends "layout.html" %}


{% block pageTitle %}
  Organisation details - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/organisation-type"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Organisation details</h1>

      <form method="post" action="{{ formAction }}">

        <!-- Name -->
        {{ govukInput({
          label: {
            text: "Name",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the name as it appears on the grant agreement or bid"
          },
          id: "organisation-name",
          name: "organisation-name",
          value: data["organisation-name"]
        }) }}


        <!-- Address -->
        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--s"
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "address-line-1",
          name: "address-line-1",
          value: data["address-line-1"]
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "address-line-2",
          name: "address-line-2",
          value: data["address-line-2"]
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "address-town",
          value: data["address-town"]
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          name: "address-county",
          value: data["address-county"]
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode",
          value: data["address-postcode"]
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>

</div>

{% endblock %}
