{% extends "layout.html" %}


{% block pageTitle %}
  Grants Management Function: Recipient Registration Form - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Funding programmes",
        href: "#"
      },
      {
        text: "EU Direct Bid funds",
        href: "/v1"
      },
      {
        text: "Frequently asked questions"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Grants Management Function: Recipient Registration Form FAQ</h1>

      <!-- Ordered list 1 -->
      <ol class="govuk-list govuk-list--number">

        <li>What if I don’t have a grant agreement number?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Not every project will have a grant agreement number. If you are expecting to receive a grant agreement number, please submit your information as requested with noting in the ‘Additional Comment’ why you don’t not have one and if / when it is expected</li>
          </ol>
        </li>

        <li>What if I have been certified as an awardee, but I have not yet received a grant agreement number?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Please fill out as much information as possible of the template. There is an 'Additional Comment' that can be used to provide initial details and reasons as to why you do not presently have a grant agreement number.</li>
          </ol>
        </li>

        <li>What if I am unable to download the file?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Please contact the help desk in the first instance: <a href="mailto:helpdesk.grants.registration@cabinetoffice.gov.uk">helpdesk.grants.registration@cabinetoffice.gov.uk</a></li>
          </ol>
        </li>

        <li>What if I have submitted incorrect information?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>If any of the information is incorrect, please do not re-submit a corrected version.</li>
            <li>Please contact the help desk in the first instance who will provide you a template to amend.</li>
          </ol>
        </li>

        <li>Do I need to provide all the information now?
        <ol class="govuk-list govuk-list--alpha" type="a">
          <li>If you are unable to fill in all the required details in one sitting, please see the following options:
          <ol class="govuk-list govuk-list--roman" type="i">
            <li>If the information is known but not to hand, please complete the template when all information is available</li>
            <li>If the information is unknown and it is unlikely to be known within 30 days, please complete the template and provide further information in the ‘Additional Comments’</li>
          </ol>
        </li>

        <li>
          What happens to the information I submit?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>The information will go directly to the Cabinet Office Grants Management Function.</li>
            <li>GMF will review the submission for completeness.<li>
            <li>If GMF identifies an issue with the submission (e.g. incomplete or unclear information), they will reach out to you within 5 working days.</li>
            <li>If no issues are found, the submission is passed to the managing department. The managing department will receive the submission from GMF on a weekly basis.</li>
            <li>The managing department will reach out to you within 5 to 10 working days from receiving the submission from GMF</li>
          </ol>
        </li>

        <li>When should I expect to hear back from the Cabinet Office Grants Management Function and / or managing department?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>After submission, you will receive an automated receipt email from GMF. If you do not receive this response, please contact the help desk <a href="mailto:helpdesk.grants.registration@cabinetoffice.gov.uk">helpdesk.grants.registration@cabinetoffice.gov.uk</a></li>
            <li>If GMF identifies an issue or question relating to the submission, GMF will reach out within 5 working days.</li>
            <li>If no issue is identified, GMF will pass the submission to the managing department on a weekly basis. The managing department will then reach out within 5-10 working days of submission receipt from GMF</li>
          </ol>
        </li>

        <li>
          What if my grant award is located in Scotland, Wales, or Northern Ireland? Does this change the information requested?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>The template includes a section relating to the devolved administrations. There is also an ‘Additional Comment’ section to provide any details not captured in the question</li>
          </ol>
        </li>

        <li>
          How can I contact the departments if I have questions, comments, or concerns about the information requested?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Please reach out to the help desk if your query or comment is not answerable from this FAQ <a href="mailto:helpdesk.grants.registration@cabinetoffice.gov.uk">helpdesk.grants.registration@cabinetoffice.gov.uk</a>.</li>
            <li>The help desk is monitored 9am – 5pm 5 days per week. The average response time is between 3-5 business days</li>
          </ol>
        </li>

        <li>
          What do I do if my project has more than one lead person?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Please provide one person’s details on the template and provide the names of the other individuals in the ‘Additional Comment’ box.</li>
            <li>Future correspondence with the departments can be increased to include all relevant parties.</li>
          </ol>
        </li>

        <li>
          How can I designate my organisations role within the project (e.g. project co-ordinator, partner, lead)?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>There is a section within the template that allows you to identify your particular role within the programme. Any other nomenclature not included in that list must be included, with explanation, in the ‘Additional Comments’ box.</li>
          </ol>
        </li>

        <li>
          Do I need to register my project using a template submission if I have already submitted all of this information to a government department in a different way?
            <ol class="govuk-list govuk-list--alpha" type="a">
              <li>No, it is not necessary to submit the information again.</li>
              <li>Please note, recipients from Creative Europe, Connecting Europe Facility (Telecoms), Europe for Citizens, and Health for Growth might have been contacted directly by DCMS and Department of Health, respectively</li>
            </ol>
        </li>

        <li>
          I have questions about delivery of the guarantee, what should I do?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>The latest material submitted by the government is included in the ‘Related Content’ section of the webpage.</li>
            <li>If this does not answer your question, please contact the help desk <a href="mailto:helpdesk.grants.registration@cabinetoffice.gov.uk">helpdesk.grants.registration@cabinetoffice.gov.uk</a>.</li>
          </ol>
        </li>

        <li>
          If my project finishes / finished before EU Exit (March 30th 2019), but the final payment is due after EU Exit, who is responsible for that payment? Do I need to fill out the template?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>As the project will have been completed while the UK is still a member state, it is expected that the EC will continue to honour that commitment<li>The UK Government therefore does not need data on these projects.</li>
            <li>However, if you are notified that the EC will not be honouring this commitment, please contact the help desk with any relevant EC correspondence / notice <a href="mailto:helpdesk.grants.registration@cabinetoffice.gov.uk">helpdesk.grants.registration@cabinetoffice.gov.uk</a>.</li>
          </ol>
        </li>

        <li>
        I have an open grant that is funded under a scheme that has since closed (e.g. LIFE+ has closed and replaced with the current LIFE programme), do I need to register?
          <ol class="govuk-list govuk-list--alpha" type="a">
            <li>Yes, please complete the template as requested, including relevant grant agreements and annexes.</li>
            <li>Please select the current iteration of your programme and provide notice in the ‘Additional Comment’ section that your project relates to the current programmes predecessor.</li>
          </ol>
        </li>

      </ol>

    </div>


    <!-- Relating content -->
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="/v1/">Register as an organisation which gets EU direct bid funding</a></li>
            <li><a href="https://www.gov.uk/government/publications/european-union-funding">European Union funding</a></li>
          </ul>
        </nav>

      </aside>

    </div>


  </div>
{% endblock %}
