{% extends "layout.html" %}


{% block pageTitle %}
  Who should we contact about the grant award? - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1/"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Who should we contact about the grant award?</h1>

    <p>We suggest using your Legal Entity Appointed Representative (LEAR).</p>

    <form method="post" action="{{ formAction }}">

      <!-- Full name -->
      {{ govukInput({
        label: {
          text: "Full name",
          classes: "govuk-label--s"
        },
        id: "full-name",
        name: "full-name",
        autocomplete: "name",
        attributes: {
          spellcheck: "false"
        },
        value: data["full-name"]
      }) }}


      <!-- Job title -->
      {{ govukInput({
        label: {
          text: "Job title",
          classes: "govuk-label--s"
        },
        id: "job-title",
        name: "job-title",
        value: data["job-title"]
      }) }}


      <!-- Email address -->
      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--s"
        },
        hint: {
          text: "We’ll only use this to contact them about the grant award"
        },
        id: "email-address",
        name: "email-address",
        type: "email",
        autocomplete: "email",
        attributes: {
          spellcheck: "false"
        },
        value: data["email-address"]
      }) }}


      <!-- Telephone number -->
      {{ govukInput({
        label: {
          text: "Telephone number",
          classes: "govuk-label--s"
        },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20",
        value: data["telephone-number"]
      }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>

</div>

{% endblock %}
